[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-wtf = "*"
email-validator = "*"
bootstrap-flask = "*"
flask-dotenv = "*"
python-dotenv = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-moment = "*"
flask-migrate = "*"
faker = "*"
pillow = "*"
flask-dropzone = "*"

[dev-packages]

[requires]
python_version = "3.7"
