{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="jumbotron">  {# 越大屏幕 #}
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/index.jpg') }}" class="rounded img-fluid">
            </div>
            <div class="col-md-4 align-self-center">
                <h2>Albumy</h2>
                <p>Capture and remember every wonderful moment</p>
            </div>
        </div>
    </div>

{% endblock %}