{# 显示每一张图片 #}
{% macro photo_card(photo) %}
<div class="photo-card card">
    <a class="card-thumbnail" href="{{ url_for('main.show_photo', photo_id=photo.id) }}">
        <img class="card-img-top portrait" src="{{ url_for('main.get_image', filename=photo.filename_s) }}" alt="">
    </a>
    <div class="card-body">
        <span class="oi oi-comment-square"></span>{{ photo.comments | length}} {# 评论条数 #}
        <span class="oi oi-star">{{ photo.collectors | length }}</span> {# 关注者的数量 #}
    </div>
</div>
{% endmacro %}

{#  显示每一个收藏者 #}
{% macro user_card(user) %}
    <div class="user-card text-center">
        <a href="{{ url_for('user.index', username=user.username) }}">
            <img class="rounded  avatar-m" src="{{ url_for('main.get_avatar', filename=user.avatars_m) }}">
        </a>
        <h6>
            <a href="{{ url_for('user.index', username=user.username) }}">{{ user.name }}</a>
        </h6>
        {{ follow_area(user) }}
    </div>
{% endmacro %}

{# 关注操作区域 #}
{% macro follow_area(user) %}
    {% if current_user.is_authenticated %}
        {% if current_user != user %}                           <!-- 当前用户 不是 自己 会显示 取消关注按键, 反之就是不对自己取关  -->
            {% if current_user.is_following(user) %}            <!--如果当前用户已经关注了这位user -->
                <form class="inline" method="post" action="{{ url_for('user.unfollow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-dark btn-sm">Unfollow</button>
                    {% if current_user.is_followed_by(user) %}  <!--如果当前用户 与 这位user 互关注了 -->
                        <p class="badge badge-light">Followed each other</p> <!--显示互关标志-->
                    {% endif %}
                </form>
            {% else %}                                          <!--如果当前用户 没有关注 这位user -->
                <form class="inline" method="post" action="{{ url_for('user.follow', username=user.username, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary btn-sm">Follow</button>
                    {% if current_user.is_followed_by(user) %}
                        <p class="badge badge-light">Follows you</p>          <!--显示 他/她关注你了 -->
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
    {% else %}
        <form class="inline" method="post" action="{{ url_for('user.follow', username=user.username) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary btn-sm">Follow</button>
        </form>
    {% endif %}
{% endmacro %}